.h1 {
    text-align: center;
}

.christmasList {
    text-align: center;
    background-color: darkgreen;
}

.listDisplay{
    margin-left: 50%;
    margin-right: 50%;
}

.listItem {
    background-color: brown;
}