.body {
    background-image: url(Images/background_tree.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.h1 {
    text-align: center;
    color: white;
    text-decoration: underline;
}

.h2 {
    text-align: center;
    color: white;
}

.wholeList {
    background-color: darkgreen;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.christmasList {
    text-align: center;
    padding: 15px;
    margin-left: 25%;
    margin-right: 25%;
}

.addButton {
    margin-top: 5%;
}

.music {
    margin-bottom: 5%;
}

.musicBtn {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.listDisplay{
    color: white;
    margin-right: 95%;
    margin-top: 30px;
}

.item {
    background-color: white;
    text-align: left;
    color: black;
    height: 25px;
    width: 160px;
    vertical-align: middle;
    border-radius: 25px;

    display: flex;
    align-items: center;
    margin-left: 30px;
    padding-left: 15px;
    margin: 10px;

}